/* Basics */
:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}
body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  font-style: normal;
  color: var(--color-slate);
}
.logo-link {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-iris);
}
.main-page {
}
/* Header */
.header {
}
.header-nav {
}
.hed {
  color: var(--color-navy-blue);
}
.nav-list {
  list-style: none;
}
.nav-item {
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  text-decoration: none;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--color-iris);
}
.contact {
}
.contact-list {
  list-style: none;
}
.contact-item {
}
.contact-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  text-decoration: none;
}
.contact-mail:hover,
.contact-mail:focus {
  color: var(--color-iris);
}
.contact-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  text-decoration: none;
}
.contact-tel:hover,
.contact-tel:focus {
  color: var(--color-ocean);
}
/* Hero section */
.hero {
  background: var(--color-grey);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-white);
}
.hero-btn {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  background: var(--color-iris);
  color: var(--color-white);
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background: var(--color-ocean);
  color: var(--color-white);
}
/* Professional Sectoin */
.prof {
}
.prof-title {
}
.prof-list {
  list-style: none;
}
.prof-item {
}
.prof-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-grey);
}
.prof-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Product Sectiont */
.prod {
}
.prod-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-grey);
}
.prod-list {
  list-style: none;
}
.prod-item {
}
.prod-pic {
}
/* Team Section */
.team {
  background: var(--color-cloud);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-grey);
}
.team-list {
  list-style: none;
}
.team-item {
}
.team-pic {
}
.team-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}
/* Footer */
.footer {
  background: var(--color-navy-blue);
}
.fot {
  color: var(--color-cloud);
}
.foot-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-white);
}
/* Filter */
.filter {
}
.filter-list {
  list-style: none;
}
.filter-item {
}
.filter-btn {
  font-family: 'Roboto';
  background: var(--color-cloud);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--color-iris);
  cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus {
  background: var(--color-ocean);
  color: var(--color-white);
}
/* Portfolio */
.pornfolio {
}
.portf-list {
  list-style: none;
}
.row {
}
.row-item {
}
.row-pic {
}
.row-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-grey);
}
.row-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
